<p id="notice"><%= notice %></p>

<p>
  <b>Creation date:</b>
  <%= @tour.creation_date %>
</p>

<p>
  <b>Title:</b>
  <%= @tour.title %>
</p>

<p>
  <b>Curated:</b>
  <%= @tour.curated %>
</p>

<p>
  <b>Image:</b>
  <%= @tour.image %>
</p>

<p>
  <b>Admin user:</b>
  <%= @tour.admin_user %>
</p>


<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
