<h1>Listing items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Creation</th>
    <th>Medium</th>
    <th>Measurements</th>
    <th>Credit</th>
    <th>Accession num</th>
    <th>Location</th>
    <th>Creator</th>
    <th>Gallery</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.creation %></td>
    <td><%= item.medium %></td>
    <td><%= item.measurements %></td>
    <td><%= item.credit %></td>
    <td><%= item.accession_num %></td>
    <td><%= item.location %></td>
    <td><%= item.creator %></td>
    <td><%= item.gallery %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
